<h2 align = "center">Your Shopping Cart</h2>

<br>

<div *ngFor="let cart of carts" >
    <ul>        
        <ng-container *ngFor = "let product of products">
            <div  *ngIf = "cart.productID == product._id">
                <li>   
                    {{cart.username}}
                    Item: {{product.name}}
                    Quantity: {{cart.amount}}
                    <input type="button" value="-" id="remove" onclick="minus()">
                    <input type="button" value="+" id="add" onclick="plus()">
                </li> <br>
            </div>
        </ng-container>
    </ul>
</div>

<br>
    <input type="button" value="Clear Cart" id="clear" onclick="clearCart()">
    <input type="button" value="Purchase Items" id="purch" onclick="purchCart()">

<br><br>
