<div *ngFor = "let user of users">
    <div *ngIf = "user.username == (_authService.user | async)?.email && user.manager == true">
        <input type = "submit" value = "Edit Privacy & Security Policy" (click) = "editPrivacy()">
    </div>
</div>
    

    <div *ngFor = "let privacy of privacies">
        <h3>{{privacy.section}}</h3>
        <div *ngFor = "let user of users">
            <div *ngIf = "user.username == (_authService.user | async)?.email && user.manager == true && edit">
                <textarea rows="10" cols="50" [(ngModel)] = "newText" ></textarea>
                <input type = "submit" value = "Edit Section" [id] = "privacy._id" (click) = "editSection($event, newText)" >
            </div>
        </div>
        <p>{{privacy.text}}</p>
    </div>

<br><br>