<div *ngFor = "let user of users">
    <div *ngIf = "user.username == (_authService.user | async)?.email && user.manager == true">
        <input type = "submit" value = "Edit DMCA" (click) = "editDmca()">
    </div>
</div>

<br>
<h1 align = "center">The Bakery DMCA Notice <br>and Takedown Procedure</h1>

<div *ngFor = "let privacy of privacies">
    <div *ngIf = "privacy.section == 'DMCA'">
         <div *ngFor = "let user of users">
            <div *ngIf = "user.username == (_authService.user | async)?.email && user.manager == true && dmca">
                <textarea rows="10" cols="50" [(ngModel)] = "newText" ></textarea>
                <input type = "submit" value = "Edit Section" [id] = "privacy._id"  (click) = "editSection($event, newText)">
            </div>
        </div>
        <p>{{privacy.text}}</p>
    </div>
</div>

<br>
<h3>Send a DMCA Request, Log, or Dispute</h3>
    <div>
         Who owns the copyright? <select  name = "owner" [(ngModel)]="owner">
            <option value="I own the copyright">I own the copyright</option>
            <option value="Someone Else owns the copyright">Someone Else owns the copyright</option>
            <option value="NA">N/A</option>
          </select> 
        </div>
        <br>
    <h4>Your Contact Information</h4>
    <input type = "text" value = "name" placeholder = "Your Name" [(ngModel)] = "name"><br><br>
    <input type = "text" value = "email" placeholder = "Your Email" [(ngModel)] = "email">
    <br>
    <h4>Identify the Violation</h4>
    <div>
         What kind of violation are you filing? <select  name = "violation" [(ngModel)]="violation">
            <option value="takedown request">Takedown Request</option>
            <option value="infringement notice">Infringement Notice</option>
            <option value="dispute claim">Dispute Claim</option>
          </select>
        </div>
    <br>
    <h4>Explain The Violation</h4>
    <p>Please provide us with as many details as possible. What comment/product is in question? What about the comment/product requires a takedown request, infringement notive or dispute claim?</p>
    <textarea rows = "4" cols = "50" name="complaint" [(ngModel)] = "complaint">Enter complaint here.</textarea>
    <br><br>
    <input type = "submit" value = "Submit Request" (click) = "logDmca(owner, name, email, violation, complaint)">
          
          
<br><br><br><br><br><br><br>