<header>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  
</header>

<h2>Popular Items</h2><br>

<mat-accordion>
 <div *ngFor="let product of products | slice:0:7; let i=index " >

      <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{product.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{product.descrip}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            
        <p>Product Details</p><br>
        
        In stock: {{product.quantity}}<br>
        Number Purchased: {{product.purchased}}<br><br>
        
        <ng-container *ngFor = "let comment of comments">
          <div  *ngIf = "product._id == comment.productID"> <!--need async as users-->
              <div  style="width: 45%;
               float: left;
               background-color:red
               white-space: nowrap;
               overflow:hidden !important;
               text-overflow: ellipsis;">
             
            Comment by: {{comment.username}}<br>
            Product Rating: {{comment.rating}}<br>
            {{comment.comment}}<br><br>
          </div>
          </div>
        </ng-container>
        <br>
    
              
    </mat-expansion-panel>
    <br>
  </div>
  </mat-accordion>

